<%-include('./layout/header')-%>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ff5900;">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Navbar brand -->
      <a class="navbar-brand" href="#">Hello Friend</a>
  
      <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/login.">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/signup.">Sign_Up</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
<div class="d-flex justify-content-center align-items-center flex-column mt-5">
    <div>
        <form class="form " id="loginForm" action="/login" method="post" onsubmit="return validateLoginForm()">
            <p class="h5 text-white">Login</p>
            <input type="email" id="email" name="email" class="input" autocomplete="off" placeholder="E-Mail I.D." required>
            <input type="password" id="password" name="password" class="input" autocomplete="off" placeholder="Password" required>
            <% if(locals.msg){ %>
              <div id="msgs" class="alert alert-danger text-center">
                <%= msg %>
              </div>
              <% } %>
            <button type="submit" class="button">Submit</button>
        </form>
    </div>
  </div>
  <%-include('./layout/footer')-%>
  
